In [1]:
import pandas as pd
import src.funciones_toni as tn
import re
import numpy as np
shark = pd.read_csv("shark_clean",encoding = "ISO-8859-1")

In [2]:
shark

,Unnamed: 0,Year,Month_attack,Time,Type,Activity,Country,Area,Location,Sex,Age,Injury,Fatal (Y/N),Species_sorted
0,0,2018.0,Jun,Evening,Boating,Paddling,USA,California,"Oceanside, San Diego County",F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,1,2018.0,Jun,Afternoon,Unprovoked,Standing,USA,Georgia,"St. Simon Island, Glynn County",F,11,Minor injury to left thigh,N,NaN
2,2,2018.0,Jun,Morning,Invalid,Surfing,USA,Hawaii,"Habush, Oahu",M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,3,2018.0,Jun,NaN,Unprovoked,Surfing,AUSTRALIA,New South Wales,Arrawarra Headland,M,NaN,Minor injury to lower leg,N,NaN
4,4,2018.0,Jun,NaN,Provoked,Free diving,MEXICO,Colima,La Ticla,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Tiger shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6308,6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6309,6309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN